.vs/
x64/
x86/
Debug/
Release/
ARM/
ARM64/

*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

*.obj
*.pdb
*.ilk
*.idb
*.gch
*.pch
*.ipch
*.tlog
*.lastbuildstate
*.log

*.exe
*.dll
*.lib
*.exp

*.bin

Thumbs.db
Desktop.ini