<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="ru">
<head><title>Читатели</title></head>
<body>
<div layout:fragment="content">
    <h3>Список пользователей</h3>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Логин</th>
            <th>Роль</th>
            <th>Книги на руках</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${userBooksMap}">
            <td th:text="${entry.key.id}"></td>
            <td th:text="${entry.key.username}"></td>
            <td th:text="${entry.key.role}"></td>
            <td>
                <span th:each="title, iterStat : ${entry.value}"
                      th:text="${title} + ${!iterStat.last ? ', ' : ''}"
                      class="badge bg-info text-dark me-1"></span>
                <span th:if="${#lists.isEmpty(entry.value)}" class="text-muted">- нет книг -</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>